.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 300;
}

.controlTop__shadow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 200px;
    z-index: -1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0,0,0,0) 100%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s linear;
}

 .controlBottom__shadow {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    z-index: -1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0,0,0,0) 100%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.full__shadow {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0,0,0,0) 100%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.shadow_show {
    opacity: 1;
}