.wrapper {
    position: relative;
    /*font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: Helvetica, Arial, sans-serif;
}

.videoContainer {
    position: relative;
    height: 100%;
    z-index: 500;
}

.videoContainer_hideMouse, .videoContainer_hideMouse * {
    cursor: none;
}

.video {
    display: block;
    outline: none;
    width: 100%;
    height: 100%;
}

.control {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 500;
    padding-left: 15px;
}