.wrapper {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
}

.wrapper_customFullscreen {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    width: 100% !important;
    height: 100% !important;
    padding-top: 0 !important;
    background: #000;
}

.wrapper_fullScreen {
    height: 100%;
}

.body_customFullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    overflow: hidden;
}

.customContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 750;
}

.effectsLayer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}